.middler {
    flex-grow: 1;
    display: flex;
    flex-direction: row;

    .welcome-section {
        text-align: center;
        padding: 20px;
    }

    .about_photo {
        display: flex;
        justify-content: space-around;
        margin-top: 20px;
    }

    .about_photos {
        margin: 10px;

        p {
            margin-left: 75px;
        }
    }

    figure figcaption {
        text-align: center;
    }

    .sergio-photo {
        height: 200px;
        width: 200px;
    }

    @media (max-width: 490px) {
        .about_photo {
            flex-direction: column;
            align-items: center;
        }

        .about_photos {
            flex: 0 0 100%;
            margin: 10px 0;
        }

        .welcome-section {
            text-align: center;
            padding: 0px;
        }
    }
}